@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">If you are a new user, click here to register</a></p>
    <p><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">If you are an existing user, click here to login</a></p>
</div>